/* Hidden Topic */
.mu-hidden-topic {
  display:none;
}


/* All Styles */
h3.sectionname {
  color: #1a1a1a;
}
.icc-link-box,
.icc-link-box3 {
  border: 1px solid #c8008f;
}
.icc-link-box:hover,
.icc-link-box2:hover,
.icc-link-box3:hover {
  background-color: #c8008f;
}
#page-header a,
#page-content a {
  color: #8c8c8c;
}
#page-content a:focus {
  background-color: #c8008f;
  color: #fff;
  box-shadow: none;
  outline: none;
}
a.arts-nav-active {
  color: #1a1a1a !important;
}
.arts-nav a.arts-nav-active:after {
  background: #c8008f;
}
.arts-num {
  color: #8c8c8c;
}
.arts-nav a:hover::after,
.arts-nav a:focus::after,
.arts-dropdown .arts-dropdown-btn:hover::after,
.arts-dropdown .arts-dropdown-btn:focus::after {
  background: #c8008f;
}
a.btn-primary,
.singlebutton .btn-primary {
    background: #c8008f;
    color: #fff !important;
    box-shadow: none;
    outline: none;
}
a.btn-primary:hover,
.singlebutton .btn-primary {
  color: #c8008f !important;
  background: #fff !important;
}
a.btn-primary:focus {
  outline: none;
}
a.btn-secondary {
    background: #fff;
    border: 1px solid #c8008f;
    color: #c8008f !important;
    box-shadow: none;
    outline: none;
}
a.btn-secondary:focus {
  outline: none;
}
.singlebutton .btn-secondary {
  color: #8c8c8c;
  border: 1px solid #c8008f !important;
  background: #fff;
  box-shadow: none !important;
  font-weight: normal !important;
}
.singlebutton .btn-secondary:hover,
.singlebutton .btn-secondary:focus {
  color: #fff;
  border: 1px solid #c8008f !important;
  background: #c8008f;
  outline: none;
}
.icc-block3 h4 {
  color: #1a1a1a;
}
.icc-block3 hr,
.icc-box hr {
  background-color: #c8008f;
}
.header-banner {
  background: transparent
    url(https://lms.monash.edu/pluginfile.php/14369449/mod_resource/content/3/banner02.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}


/* Option Screen */

.lessonbutton a.completed:hover {
  background: #c8008f;
  color: #fff;;
}
.lessonbutton a.completed:before {
  display: inline-block;
  content: "";
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-right: 10px;
}

/* Slider */

/* slider */
.slider{width:100%;text-align:center;position: relative;}
.slider-box{width:100%;height:100%;background-color:#e1e1e1;padding:20px;}
.slider-text{height:80px;}
.slider-text span{height:80px;text-align:center;display:flex;align-items:center;justify-content:center;float:left;width: 16.66%;}
.slider-highlight{border:1px dashed #c8008f;color:#c8008f;}
.slider-ticks{position:relative;top:20px;}
.slider-ticks span{height:10px;text-align:center;display:flex;align-items:center;justify-content:center;float:left;width: 16.66%;}


.slider-box input[type=range]{-webkit-appearance:none;width:90%;margin-top:20px;}
.slider-box input[type=number]{text-align:center;font-size:1.5rem;border:none;}

.slider-box input[type=range]:focus,input[type=number]:focus{outline:none;}
.slider-box input[type=range]::-webkit-slider-runnable-track{
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: #fff;
    border-radius: 25px;
    border: 1px solid #c8008f;
}
.slider-box input[type="range"]::-webkit-slider-container{background-color:#f1f1f1;}

.slider-box input[type=range]::-webkit-slider-thumb{
    border: none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #c8008f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16px;
}

.slider-box input[type=range]::-moz-range-track{
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: #c8008f;
    border-radius: 25px;
    border: none;
}
.slider-box input[type=range]::-moz-range-thumb{
    box-shadow: none;
    border: none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #c8008f;
    cursor: pointer;
}
.slider-box input[type=range]::-ms-track{
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border: none;
    color: transparent;
}
.slider-box input[type=range]::-ms-fill-lower{
    background: #fff;
    border: none;
    border-radius: 50px;
}
.slider-box input[type=range]::-ms-fill-upper{
    background: #fff;
    border: none;
    border-radius: 50px;
}
.slider-box input[type=range]::-ms-thumb{
    border: none;
    height: 42px;
    width: 42px;
    border-radius: unset;
    background: #c8008f;
    cursor: pointer;
}

/* IE9, IE10, IE11 */
@media screen and (min-width:0\0) {
    .slider-ticks{position:relative;top:36px;}
}


/* Tooltip */
.table-mu-tooltip thead th {
  padding: 14px 6px;
}

.table-mu-tooltip tbody td {
  padding: 10px 6px;
}
/* Tooltip container */
.mu-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.mu-tooltip .mu-tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #c8008f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0;
  padding: 6px 12px;
  text-align: left;
}

.mu-tooltip .mu-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #c8008f transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mu-tooltip:hover .mu-tooltiptext {
  visibility: visible;
}


/* Sortable Drag Drop Question */
.sortable-container {
  max-width: 600px;;
}
.sortable-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sortable-list-item {
  padding: 10px 8px;
  background-color: #c8018f;
  color: #fff;
  margin: 1px;
  cursor: all-scroll;
}
.sortable-list-item[draggable=false] {
  opacity: 0.4;
  cursor: default;
}
.hid {
  display: none;
}
.action-feedback {
  padding: 6px 0;
}
.feedback {
  padding: 8px;
  background: #cefad0;
  font-size: 14px;
}
.action-buttons {
  padding: 6px 0;
}
.question {
  padding: 6px 0;
}